.admin-bar .sticky-header {
	top:32px;
}
.pt-0{
	padding-top:0px;
}
.pb-15{
	padding-bottom:15px;
}
.kc_row .kc_col-sm-12{
	padding-left:0px !important;
	padding-right:0px !important; 
}
.kc-col-container {
	display:block !important;
}
.kc-row-container.kc-container{
	max-width:1200px;
	width:100%;
}
.main-header .nav-outer .search-box-outer .show .search-box-btn .fa-search:before {
    content: "\f00d";
}

.sidebar-widget li {
	position: relative;
	margin-bottom: 15px;
}

.sidebar-widget li a {
	position: relative;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	color: #95979a;
	width:90%;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}

.sidebar-widget li a span {
	float: right;
}

.sidebar-widget li a:hover {
	color: #26bdef;
}

.comments-area .bp-comment-item > .bp-comment-item  {
	margin-left:70px;
}
.comments-area a#cancel-comment-reply-link {
	font-size:15px;
}

/******************Shop*************************/
.shop-item {
    margin-bottom: 65px !important;
    position: relative;
}
.woocommerce div.product {
	min-height:460px;
}
.woocommerce .product p.price ins,
.woocommerce .product span.price ins,
.woocommerce .product span.price {
    color: #26bdef !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 24px;
}
.woocommerce nav.woocommerce-pagination ul {
	border:none;
}
.woocommerce nav.woocommerce-pagination ul li {
	display: inline-block;
	margin:0 4px;
	border-right: 0;
}
.woocommerce nav.woocommerce-pagination ul li a {
	width: 55px;
	height: 55px;
	line-height: 55px;
	display: block;
	border: 1px solid rgba(229, 229, 229, 0.57);
	text-align: center;
	color: #848484;
	font-size: 18px;
	padding:0 !important;
}
.woocommerce .woocommerce-pagination li span {
	width: 55px;
	height: 55px;
	line-height: 55px !important;
	display: block;
	border: 1px solid rgba(229, 229, 229, 0.57);
	text-align: center;
	color: #848484 !important;
	font-size: 18px !important;
	padding:0 !important;
}
.woocommerce .woocommerce-pagination li > a:focus,
.woocommerce .woocommerce-pagination li > a:hover,
.woocommerce .woocommerce-pagination li > .current {
	color:#fff !important;
	background: #26bdef !important;
}

.blog-sidebar.shop-sidebar {
	margin-left:0;
}

/******************Shop Detail*************************/
.woocommerce .single-products-details h4{
	color: #303030;
	font-size: 24px;
	font-weight: 400;
	margin: 0;
	text-transform: capitalize;
}
.woocommerce .single-products-details h4 a{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin: 0px;
	line-height: 1.4em;
	color: #252525;
}
.woocommerce a.woocommerce-review-link{
	color: #303030;
}
.woocommerce #content .product .images,
.woocommerce .product .images,
.woocommerce-page #content .product .images,
.woocommerce-page .product .images {
	width:100% !important;
}
.woocommerce .star-rating {
	color: #26bdef;
    margin-bottom: 10px !important;
}
.woocommerce .rating .woocommerce-product-rating {
    margin-bottom: 0 !important;
}
.woocommerce div.product .woocommerce-product-rating,
.woocommerce .entry-summary .content-box p.price,
.product-content-box .content-box .review-box {
	margin-bottom:0;
}
.woocommerce .entry-summary .content-box p.price del {
	margin-left:0;
}
.woocommerce .entry-summary .content-box p.price ins,
.woocommerce .entry-summary .content-box span.price ins,
.woocommerce .entry-summary .content-box ins span.amount {
    color: #26bdef;
    display: inline-block;
	font-family: "Poppins",sans-serif;
    font-size: 22px;
	font-weight:normal;
    margin: 0 4px;
    position: relative;
}
.woocommerce .entry-summary .content-box del p.price,
.woocommerce .entry-summary .content-box del span.amount {
    font-size: 22px;
}
.woocommerce .stock.in-stock {
	display:none;
}
.woocommerce .addto-cart-box {
	margin-top:15px;
}
.woocommerce button.add-to-cart,
.woocommerce #review_form #respond .form-submit input {
	position: relative;
	padding: 11px 40px;
	line-height: 24px;
	color: #ffffff;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	background: #26bdef !important;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 2px solid #26bdef !important;
	font-family: 'Poppins', sans-serif;
	border-radius:0;
}
.woocommerce button.add-to-cart:hover,
.woocommerce #review_form #respond .form-submit input:hover {
	color: #ffffff !important;
	background: #101010 !important;
	border-color: #101010 !important;
}
.woocommerce .cart .quantity input.input-text {
	background-image:none;
    display: inline-block;
    height: 45px !important;
    margin-right: 10px;
    vertical-align: middle;
    width: 80px !important;
	padding:0;
	border-radius: 0 !important;
	border:1px solid #ebebeb;
}
.woocommerce div.product form.cart {
	margin-bottom:0;
}

/*********Woocommerce Tab*********/
.woocommerce .product .woocommerce-tabs{
    margin:0;
	margin-top: 30px;
    position: relative;
}
.woocommerce .product .woocommerce-tabs #tab-description,
.woocommerce .product .woocommerce-tabs #tab-reviews {
	border: 1px solid #f4f4f4;
    padding: 30px !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before{
	border-bottom:none !important;
}
.woocommerce .product .woocommerce-tabs ul.tabs li:after,
.woocommerce .product .woocommerce-tabs ul.tabs li:before{
	display:none !important;
}
.woocommerce .product .woocommerce-tabs ul.tabs{
	border-bottom: 1px solid #f7f7f7;
    margin:0 !important;
	padding:0 !important;
    position: relative;
}
.woocommerce .product .woocommerce-tabs ul.tabs li {
	background:none !important;
	border:none !important;
    display: block;
    float: left;
    margin:0 0 -1px !important;
	padding:0 !important;
}
.woocommerce .product .woocommerce-tabs ul.tabs li:after,
.woocommerce .product .woocommerce-tabs ul.tabs li:before {
	border:none;
	box-shadow: none;
}
.woocommerce .product .woocommerce-tabs ul.tabs li a {
	border: 1px solid transparent;
	border-radius: 0;
	display: block;
	margin-right: 10px;
	padding: 13px 35px !important;
	color: #1f1f1f;
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
	background: #f7f7f7;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}
.woocommerce .product .woocommerce-tabs ul.tabs li.active a,
.woocommerce .product .woocommerce-tabs ul.tabs li:hover a {
    background: #26bdef;
    border-color: #26bdef;
    color: #ffffff !important;
}
.woocommerce ol.commentlist {
	padding:0;
}
.woocommerce .product .woocommerce-tabs .panel{
    margin-top: 0 !important;
    padding:30px !important;
	box-shadow:none;
	border-radius:0;
}
.woocommerce .product .woocommerce-tabs .panel h2{
	color: #1a1a1a;
    font-family: "Poppins",sans-serif;
	font-weight:500;
    font-size: 18px;
    text-transform: capitalize;
	margin-bottom:15px;
}
.woocommerce .product .woocommerce-tabs .panel #reply-title{
	color: #303030;
    font-family: "Poppins",sans-serif;
	font-size: 24px;
	font-weight: 700;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
.woocommerce .product .woocommerce-tabs .panel .comment-form-rating{
	margin-top:35px;
}
.woocommerce #review_form #respond label {
    color: #222222;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    line-height: 26px;
}
.woocommerce #review_form #respond input[type="text"],
.woocommerce #review_form #respond input[type="email"],
.woocommerce #review_form #respond textarea {
    border: 1px solid #e0e0e0;
    color: #252525;
    font-size: 14px;
    transition: all 500ms ease 0s;
    width: 100%;
    border-radius:0;
    display: block;
    line-height: 22px;
    position: relative;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px 15px;
}
.woocommerce #review_form #respond textarea {
    resize: none;
	height: 110px;
}
.woocommerce .woocommerce-info:before {
    color: #26bdef;
}
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    border-top: 3px solid #26bdef;
	width:100%;
}
.woocommerce .woocommerce-message:before{
	color:#26bdef;
}
.woocommerce .woocommerce-cart-form #respond input#submit,
.woocommerce .woocommerce-cart-form a.button,
.woocommerce .woocommerce-cart-form button.button,
.woocommerce .woocommerce-cart-form input.button,
.woocommerce .woocommerce-cart-form #place_order,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce .woocommerce-Button.button  {
	position: relative;
	padding: 11px 40px !important;
	line-height: 24px;
	color: #ffffff !important;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	background: #26bdef !important;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 2px solid #26bdef !important;
	font-family: 'Poppins', sans-serif;
	border-radius:0;
}
.woocommerce .woocommerce-cart-form #respond input#submit:hover,
.woocommerce .woocommerce-cart-form a.button:hover,
.woocommerce .woocommerce-cart-form button.button:hover,
.woocommerce .woocommerce-cart-form input.button:hover,
.woocommerce .woocommerce-cart-form #place_order:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    color: #ffffff !important;
	background: #101010 !important;
	border-color: #101010 !important;
}

.related-product .products .col-md-4 {
	float:left;
}
/*********Cart Page*********/
.woocommerce table.shop_table thead {
    background: #f5f5f5;
    border-radius: 7px;
    color: #222222;
    font-family:"Poppins",sans-serif;
    font-size: 18px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}
.woocommerce table.shop_table th {
    color: #272727;
    font-family:"Poppins",sans-serif;
    font-size: 14px;
    font-weight: 700;

    line-height: 35px;
    padding-left: 28px;
    text-transform: uppercase;
}
.woocommerce table.shop_table td {
	border-top:1px solid #f7f7f7;
    color: #9e9e9e;
    font-size: 16px;
    font-weight: 700;
    padding: 25px 20px;
}
.woocommerce table.shop_table td small {
    font-weight: 400;
}
.woocommerce table.shop_table tbody:first-child tr:first-child td, .woocommerce table.shop_table tbody:first-child tr:first-child th {
    border-top: 0 none;
}
.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 700;
}
.woocommerce table.my_account_orders {
    font-size: 0.85em;
}
.woocommerce table.my_account_orders td,
.woocommerce table.my_account_orders th {
    padding: 4px 8px;
    vertical-align: middle;
}
.woocommerce #calc_shipping_country,
.woocommerce #calc_shipping_state,
.woocommerce #calc_shipping_postcode {
	font-family:"Poppins",sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: none;
    border: 1px solid #e0e0e0;
    display: block;
    height: 40px;
    line-height: 24px;
	margin-right:15px;
    padding: 7px 20px;
    width: 100%;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
	font-family:"Poppins",sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: none;
    border: 1px solid #e0e0e0;
    display: block;
    height: 45px;
    line-height: 24px;
	margin-right:15px;
    padding: 7px 20px;
    width: 200px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text:focus{
	border: 1px solid #26bdef;
}
.woocommerce .cart_shipping {
    padding:0 !important;
}
.woocommerce .cart_shipping .shipping-calculator-button:focus {
    color:#26bdef;
}
.woocommerce .cart_totals {
    border: 1px solid #ebebeb;
	padding:0 !important;
}
.woocommerce .cart_totals h2 {
    background: #f9f9f9;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
}
.woocommerce .cart_totals tr{
	border-bottom: 1px solid #ebebeb !important;
}
.woocommerce .cart_totals tr th {
    padding:14px 20px !important;
    border-right:1px solid #ebebeb;
	color: #333333;
    font-family:"Poppins",sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.woocommerce .cart_totals td {
    padding: 14px 20px !important;
    text-align: right;
}
.woocommerce-cart .wc-proceed-to-checkout{
	padding:20px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce .coupon input.button,
.woocommerce .shipping-calculator-form button.button,
.woocommerce .return-to-shop a.button.wc-backward,
.woocommerce .woocommerce-form-login .button,
.woocommerce-EditAccountForm input[type="submit"],
.woocommerce-MyAccount-content input[type="submit"] {
	position: relative;
	padding: 11px 40px;
	line-height: 24px;
	color: #ffffff;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	background: #26bdef !important;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 2px solid #26bdef !important;
	font-family: 'Poppins', sans-serif;
	border-radius:0;
}
.woocommerce .coupon input.button{
	position: relative;
	padding: 9px 40px !important;
	line-height: 24px;
	color: #ffffff;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	background: #26bdef !important;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 2px solid #26bdef !important;
	font-family: 'Poppins', sans-serif;
	border-radius:0;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce .coupon input.button:hover,
.woocommerce .shipping-calculator-form button.button:hover,
.woocommerce .return-to-shop a.button.wc-backward:hover,
.woocommerce .woocommerce-form-login .button:hover,
.woocommerce-EditAccountForm input[type="submit"]:hover,
.woocommerce-MyAccount-content input[type="submit"]:hover {
	color: #ffffff !important;
	background: #101010 !important;
	border-color: #101010 !important;
}
.woocommerce .add-to-cart-wrap-btn {
	background:none !important;
    border: 2px solid #26bdef !important;
    color: #26bdef !important;
}
.woocommerce-cart .cart-collaterals .cart_totals table{
	width:100%;
}

/*********Checkout Page*********/
#customer_details label {
    color: #303030;
    font-family: "Poppins",sans-serif;
    font-size: 15px;
    font-weight: 400 !important;
    margin-bottom: 8px;
    text-transform: capitalize;
}
/*.woocommerce-billing-fields label span {
	display:block;
}*/
.woocommerce-EditAccountForm.edit-account legend,
.woocommerce-billing-fields h3,
.woocommerce-shipping-fields h3,
h3#order_review_heading,
.woocommerce-account .addresses .title h3,
.woocommerce-MyAccount-content h3 {
    color: #222222;
	font-family:"Poppins",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0 0 20px;
}
.woocommerce-EditAccountForm.edit-account input[type="text"],
.woocommerce-EditAccountForm.edit-account input[type="email"],
.woocommerce-EditAccountForm.edit-account input[type="password"],
.woocommerce-ResetPassword.lost_reset_password input[type="text"],
.checkout.woocommerce-checkout input[type="text"],
.checkout.woocommerce-checkout input[type="email"],
.checkout.woocommerce-checkout input[type="tel"],
.checkout.woocommerce-checkout .select2-choice,
.checkout.woocommerce-checkout textarea,
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row .select2-selection {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    display: block;
    height: 48px;
    line-height: 30px;
    padding: 8px 20px;
    position: relative;
    transition: all 300ms ease 0s;
    width: 100%;
}
.woocommerce form .form-row .select2-selection {
    padding: 8px 20px 8px 0;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
    border-color: #a00;
}
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
	margin:0;
	position:relative;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    right: 1px;
    top: 20%;
    width: 20px;
}
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
	max-width:48% !important;
}

.bp-comment-item .default-form-area .inner-page-title,
.bp-comment-item .default-form-area .inner-page-title h4{
	margin-bottom:0px;
}
.bp-comment-item .default-form-area h2{
	margin-bottom:5px;
}
.thm-unit-test .news-block-two .inner-box .post-meta{
	padding-left:0px;
}
.wp-tag a{
	color:#848484;
}
.wp-tag a:hover{
	color:#26bdef;
}
blockquote{
	background:#fafafa;
	padding:20px;
}
blockquote p{
	margin-bottom:0px;
}
.sidebar-title h3 a{
    color: #000000;
}
.footer-widget ul li ul li{
	margin-left:15px;
}
.page-wrapper{
	margin-bottom:0px !important;
}
.woocommerce div.product form.cart .variations select{
	border:1px solid #eaeaea;
	min-width:100%;
	padding:10px;
}
.woocommerce div.product form.cart .variations label{
	margin-top:7px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
	display:block;
}
.up-sells h2 {
    color: #303030;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 15px;
    text-transform: capitalize;
}
.header-info .main-logo a img,
.sticky-header .logo a img{
    width:188px;
}
.main-footer .footer-logo img{
    width:200px;
}